// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define EXTEND 1
#define SYMBOL 2
#define FUNC 3
#define NUMBER 4
#define SETTING 5

/ {
    macros {
        del_word: delete_word {
            compatible = "zmk,behavior-macro";
            label = "del_word";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp BSPC>
                , <&macro_release &kp LCTRL>;
        };
        copy: copy {
            compatible = "zmk,behavior-macro";
            label = "copy";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp C>
                , <&macro_release &kp LCTRL>;
        };
        paste: paste {
            compatible = "zmk,behavior-macro";
            label = "paste";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp V>
                , <&macro_release &kp LCTRL>;
        };
        cut: cut {
            compatible = "zmk,behavior-macro";
            label = "cut";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp X>
                , <&macro_release &kp LCTRL>;
        };
        undo: undo {
            compatible = "zmk,behavior-macro";
            label = "undo";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp Z>
                , <&macro_release &kp LCTRL>;
        };
        find: find {
            compatible = "zmk,behavior-macro";
            label = "find";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp F>
                , <&macro_release &kp LCTRL>;
        };
        next_tab: next_tab {
            compatible = "zmk,behavior-macro";
            label = "next_tab";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LCTRL>;
        };
        prev_tab: prev_tab {
            compatible = "zmk,behavior-macro";
            label = "prev_tab";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHIFT>
                , <&macro_tap &kp TAB>
                , <&macro_release &kp LSHIFT>
                , <&macro_release &kp LCTRL>;
        };
        s_copy: shift_copy {
            compatible = "zmk,behavior-macro";
            label = "s_copy";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHIFT>
                , <&macro_tap &kp C>
                , <&macro_release &kp LSHIFT>
                , <&macro_release &kp LCTRL>;
        };
        s_paste: shift_paste {
            compatible = "zmk,behavior-macro";
            label = "s_paste";
            #binding-cells = <0>;
            bindings 
                = <&macro_press &kp LCTRL>
                , <&macro_press &kp LSHIFT>
                , <&macro_tap &kp V>
                , <&macro_release &kp LSHIFT>
                , <&macro_release &kp LCTRL>;
        };
    };

    behaviors {
        num_morph: num_layer_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "num_morph";
            #binding-cells = <0>;
            bindings = <&mo SYMBOL>, <&mo NUMBER>;
            mods = <(MOD_LSFT)>;
        };   
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        function_layer {
            if-layers = <EXTEND SYMBOL>;
            then-layer = <FUNC>;
        };
        settings_layer {
            if-layers = <EXTEND NUMBER>;
            then-layer = <SETTING>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  Q       │  W       │  F       │  P       │  B       │   │  J       │  L       │  U       │  Y       │  ' "     │
            &kp Q      &kp W      &kp F      &kp P      &kp B          &kp J      &kp L      &kp U      &kp Y      &kp QUOT
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  A       │  R       │  S       │  T       │  G       │   │  M       │  N       │  E       │  I       │   O      │
            &kp A      &kp  R     &kp  S      &kp T      &kp G          &kp M      &kp N      &kp E       &kp I      &kp O
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│  Z       │  X       │  C       │  D       │  V       │   │  K       │  H       │ , <      │ . >      │ / ?      │
            &kp Z      &kp X      &kp C      &kp D      &kp V          &kp K      &kp H      &kp COMMA  &kp DOT    &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
        //                                 │  EXT     │  SHIFT   │   │  SPACE   │  SYM     │
                                            &mo EXTEND &kp LSHIFT     &kp SPACE  &num_morph
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        extend_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│ ESC      │ NEXT TAB │  FIND    │ PREV TAB │ INSERT   │   │ PAGE UP  │ HOME     │ UP       │ END      │ CAPS     │
            &kp ESC   &next_tab  &find     &prev_tab    &kp INS        &kp PGUP   &kp HOME   &kp UARW   &kp END    &kp CAPS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ALT      │ WIN      │ SHIFT    │ CTRL     │ ALT GR   │   │ PAGE DOWN│ LEFT     │ DOWN     │ RIGHT    │ DELETE   │
            &sk LALT  &sk LWIN   &sk LSHIFT &sk LCTRL  &sk RALT        &kp PGDN   &kp LARW   &kp DARW   &kp RARW   &kp DEL
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ UNDO     │ CUT      │ COPY     │ WIN      │ PASTE    |   |DELETE_WRD│BACKSPACE│ TAB       │ COMPOSE  │ PRINTSCRN│
           &undo      &cut       &copy      &kp LWIN   &paste         &del_word  &kp BSPC   &kp TAB    &kp F13    &kp PRSC
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans        &kp ENTER     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        symbol_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│  !       │  @       │  #       │  $       │ %        │   │  =       │  `       │  :       │  ;       │  +       │
            &kp EXCL   &kp AT    &kp HASH   &kp DLLR   &kp PRCNT       &kp EQL   &kp GRAVE  &kp COLON  &kp SEMI   &kp PLUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ALT      │ WIN      │ SHIFT    │ CTRL     │ ^        │   │  *       │  (       │  {       │  [       │  -       │
            &sk LALT  &sk LWIN   &sk LSHIFT &sk LCTRL   &kp CARET      &kp ASTRK  &kp LPAR  &kp LBRC  &kp LBKT    &kp MINUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │  \       │  │       │ &        │   │  ~       │  )       │  }       │  ]       │  _       │
            &trans     &trans     &kp BSLH   &kp PIPE   &kp AMPS       &kp TILDE  &kp RPAR  &kp RBRC   &kp RBKT   &kp UNDER
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans     &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        function_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │ PREVIOUS   PLAY     │ NEXT     │ BRIGHT   │   | F12      │ F7       │ F8       │ F9       │          │
           &trans     &kp C_PREV  &kp C_PP  &kp C_NEXT &kp C_BRI_UP    &kp F12    &kp F7     &kp F8     &kp F9     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ALT      │ WIN      │ SHIFT    │ CTRL     │ DIM      │   │ F11      │ F4       │ F5       │ F6       │          │
            &sk LALT  &sk LWIN   &sk LSHIFT &sk LCTRL  &kp C_BRI_DN    &kp F11    &kp F4     &kp F5     &kp F6     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ MUTE     │ VOL DOWN │ SHFT_COPY│ VOL UP   │SHFT_PASTE│   │ F10      │ F1       │ F2       │ F3       │          │
          &kp C_MUTE &kp C_VOL_DN  &s_copy &kp C_VOL_UP  &s_paste        &kp F10    &kp F1     &kp F2     &kp F3     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &kp ENTER  &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        number_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│          │          |          │          │          │   | =        │ 7        │ 8        │ 9        │ +        │
           &trans     &trans     &trans     &trans     &trans         &kp EQL    &kp N7      &kp N8     &kp N9    &kp PLUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│ ALT      │ WIN      │ SHIFT    │ CTRL     │ ALT GR   │   │ *        │ 4        │  5       │  6       │ -        │
            &sk LALT  &sk LWIN   &sk LSHIFT &sk LCTRL  &sk RALT       &kp ASTRK   &kp N4     &kp N5     &kp N6     &kp MINUS
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │ COMPOSE  │ TAB      │ BACKSPACE│ ENTER    │   │ 0        │  1       │  2       │  3       │ /        │
            &trans    &kp F13     &kp TAB   &kp BSPC    &kp ENTER      &kp N0    &kp N1     &kp N2      &kp N3      &kp FSLH
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans    &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };

        settings_layer {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
        //│BOOTLOADER│          |          │ BLT CLEAR│ BLT 0    │   | BLT 3    │          │          │          │BOOTLOADER│
           &bootloader &trans     &trans     &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 3   &trans    &trans   &trans    &bootloader
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │ BLT 1    │   │ BLT 4    │          │          │          │          │
            &trans    &trans     &trans      &trans    &bt BT_SEL 1  &bt BT_SEL 4  &trans     &trans   &trans     &trans
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │ BLT 2    │   │ BLT 5    │          │          │          │          │
            &trans    &trans     &trans      &trans    &bt BT_SEL 2  &bt BT_SEL 5   &trans    &trans   &trans     &trans
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯
                                             &trans     &trans         &trans    &trans
        //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
            >;
        };
    };
};
